// Header main
.header-main {
  background-color: $color-white-primary;
  @media screen and (max-width: $mobile) {
    
    top: 0;
    z-index: 999;
  }
  &--top {
    padding: 25px 0;
    @media screen and (max-width: $mobile) {
      padding: 14px 0;
    }
    button {
      border: 0;
      background-color: transparent;
      padding: 0;
      width: 30px;
      height: 30px;
      img {
        max-width: 100%;
      }
    }
  }
  &--logo {
    max-width: 128px;
  }
  &--nav {
    background-color: $color-blue-primary;
    ul {
      height: 60px;
    }
    li {
      margin: 0 60px 0 0;
      &:last-of-type {
        margin: 0;
      }
    }
    a {
      color: $color-white-primary;
      @include font(16px, 700, 1);
      letter-spacing: 2.3px;
    }
  }
  .phone-number--header {
    margin-right: 30px;
  }
}

// Button header
.toggle-search,
.toggle-menu {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &.show-content {
    background-size: auto;
    background-image: url("../dist/images/close-button-s.png");
  }
}

.toggle-search {
  background-image: url("../dist/images/icon-search.png");
}

.toggle-menu {
  background-image: url("../dist/images/hamburger-button-s.png");
}

.phone-number--header {
  h2 {
    @include font(35px, 700, 35px);
    letter-spacing: -0.3px;
  }
  p {
    @include font(12px, 400, 1);
    letter-spacing: -0.3px;
  }
}

// Mobile menu
.mobile-menu {
  background-color: $color-white-primary;
  @media screen and (max-width: $mobile) {
    border: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 999;
    padding: 26px 60px;
    display: none;
    &.show {
      display: block;
      overflow-y: auto;
    }
  }
  .phone-number--header {
    margin: 0 0 50px;
  }
  &--content {
    margin: 0 0 60px;
    li {
      margin: 0 0 22px;
      &:last-of-type {
        margin: 0;
      }
    }
    a {
      @include font(18px, 700, 26px);
    }
  }
  &--second {
    margin: 0 0 34px;
    li {
      margin: 0 0 30px;
      &:last-of-type {
        margin: 0;
      }
    }
    a {
      @include font(15px, 400, 21px);
    }
  }
}
// Side bar
.sidebar-left {
  padding: 13px 11.5px;
  border: 1px solid $color-gray;
  background-color: $color-white-primary;
  @media screen and (max-width: $mobile) {
    border: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 999;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 36px;
    display: none;
    &.show {
      display: block;
      overflow-y: auto;
    }
  }
  .sidebar-btn {
    display: block;
    border: 1px solid $color-gray;
    @include font(16px, 700, 1);
    padding: 17px 0;
    margin-top: 15px;
  }
  &--title {
    @include font(18px, 700, 35px);
    letter-spacing: 0.5px;
    margin: 0 0 14px;
  }
  &--section {
    padding: 17.5px 8.5px 14px;
    border-bottom: 1px solid $color-gray;
    &:first-of-type {
      padding-top: 0;
    }
    .title {
      @include font(15px, 700, 21px);
      margin: 0 0 5px;
    }
    a,
    p {
      @include font(15px, 400, 21px);
      margin: 0 0 5px;
      cursor: pointer;
      display: block;
    }
    a {
      @include transition;
      &:hover {
        color: $color-pink-primary;
      }
    }
    > ul {
      padding-left: 10px;
    }
    li {
      display: block;
      &.active {
        a {
          font-weight: 700;
          color: $color-pink-primary;
        }
      }
      &.sub-menu {
        p {
          position: relative;
          padding: 0 0 0 10px;
          &:before {
            position: absolute;
            top: 50%;
            left: 0;
            @include translate(0, -50%);
            width: 5px;
            height: 5px;
            content: "";
            background: url(../dist/images/icon-arrow--right.svg) center no-repeat;
            background-size: cover;
          }
          &.expanded {
            &:before {
              background: url(../dist/images/icon-arrow--down.svg) center no-repeat;
            }
          }
        }
        ul {
          padding-left: 25px;
        }
      }
    }
  }
}

// List post
.list-post {
  .post-item {
    margin: 0 0 30px;
    @media screen and (max-width: $mobile) {
      margin: 0 0 48px;
    }
    &:last-of-type {
      margin: 0;
    }
  }
}

// Post item
.post-item {
  display: flex;
  padding: 19px 17px;
  border: 1px solid $color-gray;
  position: relative;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  @media screen and (max-width: $mobile) {
    border: 0;
    padding: 0;
    flex-direction: column;
  }
  &--thumbnail {
    width: 224px;
    height: 143px;
    background-color: #f5f5f5;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    @media screen and (max-width: $tablet) {
      width: 100%;
      height: 220px;
      margin: 0 0 15px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .label {
    position: absolute;
    top: 20px;
    right: 16px;
    @media screen and (max-width: $mobile) {
      right: 17px;
      top: 19px;
    }
    @media screen and (max-width: $mobile) {
      right: 12px;
      top: -5px;
    }
  }
  &--content {
    .title {
      @include font(18px, 700, 26px);
      letter-spacing: 0.5px;
      margin: 0 0 8px;
    }
    .description {
      @include font(10px, 400, 17px);
      margin: 0 0 8px;
      @include limitedText(2);
    }
    .tags-list {
      li {
        margin: 0 7px 0 0;
        &:last-of-type {
          margin: 0;
        }
      }
      a {
        display: inline-block;
        @include font(10px, 400, 15px);
        padding: 7px 10px;
        border: 1px solid $color-gray;
      }
    }
  }
  .sub-detail {
    margin: 0 0 10px;
    @media screen and (max-width: $mobile) {
      margin: 0 0 8px;
    }
  }
}

// Sub detail of item
.sub-detail {
  li {
    margin: 0 14px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
}

// Label
.label {
  background-color: $color-pink-primary;
  color: $color-white-primary;
  font-weight: 700;
  line-height: 19px;
  padding: 8px 18px;
}

// Breadcrumb
.breadcrumb-main {
  margin: 20px 0 0;
  @media screen and (max-width: $mobile) {
    margin: 54px 0 0;
  }
  ul {
    @media screen and (max-width: $mobile) {
      justify-content: center;
    }
  }
  li {
    display: inline-block;
    margin: 0 8px 0 0;
    &.active {
      span {
        color: $color-gray;
      }
    }
  }
  a,
  span {
    display: inline-block;
    padding: 13px 17px;
    border: 1px solid $color-gray;
    @include font(15px, 700, 21px);
  }
}

// Footer
.footer-main {
  padding: 0 0 68px;
  @media screen and (max-width: $mobile) {
    padding: 0 0 38px;
  }
  li {
    margin: 0 24px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
  a {
    @include font(15px, 400, 21px);
  }
}

.footer-text {
  @include font(10px, 400, 15px);
  color: #bebebe;
  margin: 35px 0 0;
  @media screen and (max-width: $mobile) {
    margin: 0;
  }
}

// Banner
.main-banner {
  position: relative;
  @media screen and (max-width: $mobile) {
    padding-top: 20px;
  }
  .thumbnail {
    background-color: #f5f5f5;
    height: 498px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: $tablet-large) {
      height: 300px;
      margin: 0 0 15px;
    }
    @media screen and (max-width: $mobile) {
      height: 220px;
      margin: 0 0 15px;
    }
  }
  .label {
    @media screen and (max-width: $mobile) {
      position: absolute;
      top: 11px;
      right: 34px;
    }
  }
  .container {
    position: absolute;
    bottom: 46px;
    left: 50%;
    z-index: 10;
    @include translate(-50%, 0);
    @media screen and (max-width: $mobile) {
      position: static;
      @include translate(0, 0);
    }
  }
  .title {
    @include font(26px, 700, 37px);
    margin: 0 22px 4px 0;
    @media screen and (max-width: $mobile) {
      @include font(18px, 700, 26px);
      margin: 0 0 8px;
    }
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 213px;
    content: "";
    background-image: linear-gradient(180deg, transparent, $color-white-primary);
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}

// Item detail
// Price
.price {
  @include font(15px, 700, 21px);
  color: #ef0000;
  span {
    @include font(26px, 700, 37px);
  }
  &.gray {
    color: $color-text;
  }
  &.large {
    font-size: 20px;
    span {
      font-size: 35px;
    }
  }
}
.item-detail {
  padding: 58px 0 86px;
  @media screen and (max-width: $mobile) {
    padding: 15px 0 86px;
  }
  hr {
    margin: 67px auto 58px;
    max-width: 475px;
    background-color: $color-gray;
    opacity: 1;
    @media screen and (max-width: $mobile) {
      margin: 43px auto 38px;
    }
  }
}

.item-description {
  padding: 30px 25px 18px;
  @media screen and (max-width: $mobile) {
    padding: 0;
  }
  &.has-border {
    @media screen and (max-width: $mobile) {
      border: 0;
    }
  }
  .title {
    @include font(22px, 700, 33px);
    margin: 0 0 30px;
    @media screen and (max-width: $tablet) {
      font-size: 18px;
      margin: 20px 0 15px;
    }
  }
  .right-content {
    margin-left: 24px;
    flex-shrink: 0;
    max-width: 340px;
    @media screen and (max-width: $tablet) {
      max-width: unset;
      margin: 0;
    }
  }
  .text-small {
    @include font(10px, 400, 23px);
    margin: 15px 0 0;
    @media screen and (max-width: $mobile) {
      margin: 15px 0 0;
    }
  }
  img {
    margin: 0 15px;
  }
  > div {
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
}

// Gallery item
.item-gallery {
  .row {
    margin-top: -39px;
    @media screen and (max-width: $mobile) {
      margin: -17px -10px 0;
    }
  }
  div[class^="col-"] {
    margin: 39px 0 0;
    @media screen and (max-width: $mobile) {
      padding: 0 10px;
      margin: 17px 0 0;
    }
  }
}

.item-features {
  padding: 18px 20px 25px;
  ul {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: -18px;
    @media screen and (max-width: $tablet) {
      grid-template-columns: auto;
    }
  }
  li {
    display: flex;
    align-items: center;
    margin: 18px 0 0;
    @include font(15px, 700, 21px);
    img {
      flex-shrink: 0;
      margin: 0 20px 0 0;
    }
  }
}

// Item point
.list-item--point {
  .item-point {
    margin: 0 0 34px;
    &:last-of-type {
      margin: 0;
    }
  }
}
.item-point {
  padding: 18px 24px 30px;
  img {
    flex-shrink: 0;
    margin: 0 37px 0 0;
    width: 255px;
    height: 163px;
    object-fit: cover;
    @media screen and (max-width: $tablet) {
      width: 100%;
      height: auto;
      margin: 0 0 22px;
    }
  }
  p {
    @include limitedText(5);
    line-height: 33px;
  }
  div {
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
}

// Request area
.request-area {
  form {
    padding: 0 0 40px;
  }
  textarea {
    border: 0;
    display: block;
    width: 100%;
    resize: none;
    padding: 15px;
    @media screen and (max-width: $tablet) {
      height: 300px;
    }
    &:focus {
      outline: none;
      border: 0;
    }
  }
  button {
    @include font(16px, 700, 24px);
    padding: 10px 83px;
    color: $color-white-primary;
    background-color: $color-blue-primary;
    border: 0;
  }
}

// tags area
.tags-area {
  li {
    margin: 0 7px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
  a {
    @include font(10px, 400, 15px);
    padding: 7px 10px;
    border: 1px solid $color-gray;
  }
}
